* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text svneol=unset#application/xml
src/main/java/org/cd2h/n3c/DBTest.java -text
src/main/java/org/cd2h/n3c/N3CLoginTagLibBodyTagSupport.java -text
src/main/java/org/cd2h/n3c/N3CLoginTagLibTagSupport.java -text
src/main/java/org/cd2h/n3c/README.txt -text
src/main/java/org/cd2h/n3c/Sequence.java -text
src/main/java/org/cd2h/n3c/membership/Membership.java -text
src/main/java/org/cd2h/n3c/membership/MembershipDeleter.java -text
src/main/java/org/cd2h/n3c/membership/MembershipEmail.java -text
src/main/java/org/cd2h/n3c/membership/MembershipIterator.java -text
src/main/java/org/cd2h/n3c/membership/MembershipJoined.java -text
src/main/java/org/cd2h/n3c/membership/MembershipJoinedToNow.java -text
src/main/java/org/cd2h/n3c/membership/MembershipLabel.java -text
src/main/java/org/cd2h/n3c/registration/Registration.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationAssistantEmail.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationCreated.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationCreatedToNow.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationDeleter.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationEmail.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationEmailed.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationEmailedToNow.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationEnclave.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationExpertise.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationFirstName.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationGithubId.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationGsuiteEmail.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationInstitution.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationIterator.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationLastName.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationOfficialFirstName.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationOfficialFullName.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationOfficialInstitution.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationOfficialLastName.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationOrcidId.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationSlackId.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationTherapeuticArea.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationTwitterId.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationUpdated.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationUpdatedToNow.java -text
src/main/java/org/cd2h/n3c/registration/RegistrationWorkstreams.java -text
src/main/java/org/cd2h/n3c/workstream/Workstream.java -text
src/main/java/org/cd2h/n3c/workstream/WorkstreamDeleter.java -text
src/main/java/org/cd2h/n3c/workstream/WorkstreamDescription.java -text
src/main/java/org/cd2h/n3c/workstream/WorkstreamFullName.java -text
src/main/java/org/cd2h/n3c/workstream/WorkstreamIterator.java -text
src/main/java/org/cd2h/n3c/workstream/WorkstreamLabel.java -text
src/main/resources/META-INF/taglib.tld -text svneol=unset#application/xml
src/non-packaged-resources/Model.clay -text svneol=unset#application/xml
src/non-packaged-resources/admin_views.sql -text
src/non-packaged-resources/backfill.sql -text
src/non-packaged-resources/palantir_views.sql -text
src/non-packaged-resources/registration.sql -text
src/test/java/org/cd2h/n3c/README.txt -text
src/test/resources/README.txt -text
